<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
   <link rel="stylesheet" href="./style.css">
</head>

<body>

   <div class="error">
      {{errors}}
   </div>


   <h2>Greetings WebApp </h2><br>
   <form action="/" method="POST">
      {{#if messages.info }}
      <div class="welcome">
         <h3>{{messages.info}}</h3>
      </div>
      {{/if}}
      {{#if messages.error }}
      <div class="clear">
         <h3>{{messages.error}}</h3>
      </div>
      {{/if}}
<div class="greetme">
         {{greet}}
      </div>
      <div class="container">
         <div class="nameBox">
            <label for="name11"> Enter a name here:</label>
            <input type="text" id="name11" name="nameVal" value="" class="name11">
            <span class="countered">
               Counter:
               {{count}}
            </span><br>
         </div>
      </div>

      <br>
      <div class="languages">
         <input type="radio" id="English" name="language" value="English">
         <label for="language">English</label>
         <input type="radio" id="IsiXhosa" name="language" value="IsiXhosa">
         <label for="language">IsiXhosa</label>
         <input type="radio" id="IsiZulu" name="language" value="IsiZulu">
         <label for="language">IsiZulu</label><br><br>
      </div>
      <button type="submit" class="Greet_me">Greet here</button><br><br>
      
   </form>

   <div class="greetingBox">
      <a href="/reset"><button type="button" class="reset">Reset here</button></a><br>
   </div><br>

   <div class="greetList">
      <a href="/names"><button type="button">Names Greeted</button></a>
   </div>
</body>

</html>